/* General Styles */
.theme {
  height: 100%;
  min-height: 100vh; /* Ensures the container takes at least full viewport height */
  width: 100%;
  position: relative; /* Make sure the layout is relative */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  padding-top: 20px; /* Padding from the top */
  padding-bottom: 40px; /* Add space at the bottom so the buttons don't extend out */
  background-color: #0e1217; /* Dark background color */
}

.admin-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px; /* Add space around the buttons */
  background-color: #232c36; /* Dark background for the admin buttons */
  margin-bottom: 20px; /* Space between the buttons and the tournament bracket */
  border-radius: 8px; /* Optional: rounded corners for the buttons' container */
}

.admin-buttons button {
  background-color: #03d9ce; /* Cyan background for the buttons */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-buttons button:hover {
  background-color: #029f96; /* Darker cyan on hover */
}

/* Bracket Styling */
.bracket {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 40px;
  margin: 5px;
  flex-grow: 1; /* Allow this section to grow and take available space */
  margin-bottom: 50px; /* Space between the bracket and the buttons */
}

.column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-around;
  align-content: center;
}

/* Match Styling for Dark Theme */
.theme-dark .match-lines .line {
  background: #8a9ba8; /* Lighter gray for lines */
}

.theme-dark .team {
  background: #182026;
  border-color: #232c36;
  color: #6b798c;
  display: flex;
  justify-content: space-between; /* Ensures the team name is on the left and score on the right */
}

.theme-dark .match-actions button {
  background-color: #03d9ce;
  color: #ffffff;
  border: 2px solid #03d9ce;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-dark .match-actions button:hover {
  background-color: #029f96;
}

.theme-dark h2,
.theme-dark h3 {
  color: #ffffff;
}

.theme-dark h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.theme-dark h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* Button Styles for Dark Theme */
.theme-dark .match-actions button:disabled {
  background-color: #444;
  color: #888;
  border: 2px solid #444;
  cursor: not-allowed;
}

/* Match Winner Styling */
.name.winner {
  font-weight: bold;
  color: green;
}

/* Keep Yellow Score and White Names in Dark Theme */
.theme-dark .match .team .name {
  color: #ffffff; /* White text for team names */
  padding-left: 8px; /* Padding to align with the first button */
}

.theme-dark .match .team .score {
  color: #ffcc00; /* Yellow text for scores */
  margin-left: auto; /* Pushes the score to the right side */
  padding-right: 8px; /* Padding to align with the right edge */
}

/* Hide unnecessary content */
.disable-image .image,
.disable-seed .seed,
.disable-name .name,
.disable-score .score {
  display: none !important;
}

/* Disable Borders */
.disable-borders {
  border-width: 0px !important;
}

.disable-borders .team {
  border-width: 0px !important;
}

.disable-seperator .match-top {
  border-bottom: 0px !important;
}

.disable-seperator .match-bottom {
  border-top: 0px !important;
}

.disable-seperator .team:first-child {
  margin-bottom: 0px;
}
